* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/pasagem.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Inter', sans-serif;
}


/* COMEÇO ESTILIZAÇÃO DO MODAL DE CRIAÇÃO DE CARDS */
.modalCriacao {
    display: none;
    position: absolute;
    align-items: center;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.737);
    top: 0px;
    transition: all 1s;
}

.boxCriacao {
    margin: 0 auto;
    width: 40%;
    height: 520px;
    background-color: white;
    border-radius: 4px;
}

.boxCriacao h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.divCloseModal {
    width: 100%;
    text-align: end;
}

#closeModal {
    all: unset;
    padding: .6rem;
    font-size: 1.5rem;
    background-color: #b92039;
    border-radius: 0px 3px 0px 4px;
    margin: 1px;
    transition: all .1s;
    color: white;
    font-weight: 700;
}

#closeModal:hover {
    transition: all .1s;
    cursor: pointer;
    background-color: #d21232;
}

.cardInfos {
    width: 100%;
    padding: 0 7%;
    /* background-color: #571f4e; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.cardComponents {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cardComponents label {
    font-size: 1rem;
    margin-top: .5rem;
    text-transform: capitalize;
}

.cardComponents input {
    all: unset;
    height: 3rem;
    border: 1px solid black;
    border-radius: 4px;
    margin: .5rem 0;
    padding: 0 1rem;
    box-sizing: border-box;
}

.valorVencimento {
    display: flex;
    flex-direction: row;
    margin-top: .5rem;
}

.valorVencimento div {
    width: 50%;
}

.valorVencimento div input {
    width: 100%;
}

.valorVencimento div:first-child {
    margin-right: .5rem;
}

.buttons {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 4rem;

}

.buttons button {
    width: 180px;
    height: 3rem;
    margin: 0 .4rem;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: 3px 5px 10px #cecece;
    transition: all .1s;
}

.buttons button:hover {
    transition: all .1s;
    cursor: pointer;
    box-shadow: 4px 2px 16px #cecece;
}

.btCriarCard {
    background: #571f4ec0;
    color: white;
    border: none;

}

.btCancelar {
    background: none;
    border: 1px solid black;
    color: #3f3f3f;
}

/* FIM ESTILIZAÇÃO DO MODAL DE CRIAÇÃO DE CARDS */


.containerCriarCard {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.containerCriarCard label {
    margin-bottom: 1rem;
    font-size: 2rem;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 700;
}

.divNewCard {
    width: 30%;
    height: 40px;
    background-color: white;
    border-radius: 6px;
    display: flex;
    border: 2px solid #571f4ec0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.171);
}

.divNewCard input {
    all: unset;
    width: 80%;
    padding: 1rem;
}

.containerDate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* remove o ícone do calendário no Chrome */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

#dateCard {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
}

#dateCard:hover {
    cursor: pointer;
}

.divNewCard button {
    all: unset;
    width: 20%;
    font-size: 2rem;
    background-color: #925588;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;
    transition: all .2s;
    border-radius: 0px 4px 4px 0px;
}

.divNewCard button:hover {
    cursor: pointer;
    transition: all .2s;
    background-color: #925588d3;
}

.divNewCard button:active {
    transition: all .2s;
    background-color: #673d60;
}

/* ESTILIZAÇÃO DOS CARDS COMEÇO */

.contasLista {
    width: 100%;
    /* padding: 0 20%; */
    box-sizing: border-box;
}

.contaType {
    padding: 0 .5rem;
    width: 50%;
    margin: 0 auto;
    transform: translateY(2px);
    display: flex;
    flex-direction: row;
    display: none;
}

.contaType h3 {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    background-color: rgba(255, 255, 255, 0.214);
    border-radius: 10px 10px 2px 2px;
    text-align: center;
    padding: .2rem 1rem;
    margin: 0 .5px;
    font-size: 1rem;
    border: 1px solid rgba(218, 218, 218, 0.799);
    transition: all .1;
}
.contaType h3:hover{
    transition: all .1;
    background-color: rgba(255, 255, 255, 0.818);
    text-shadow: 1px 1px 1px rgb(250, 250, 250);
    color: #1c0a19;
    cursor: pointer;
}

.containerCards {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255 255 255 / 22%));
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.3px);
    -webkit-backdrop-filter: blur(0.3px);
    border: 2px solid;
    border-image: linear-gradient(356deg, rgba(218, 218, 218, 0.799), rgba(255, 255, 255, 0)) 1;
    border-radius: 6px;
}

.contaBox {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 300px;
    height: 300px;
    transition: 1s all;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.277);

}

.contaBox:hover {
    cursor: pointer;
}

.contaBox:nth-child(odd) {
    background-color: #571f4e;
    color: #f8f9fa;
}

.contaBox:nth-child(even) {
    color: #f8f9fa;
    background-color: #5d5179;
}

.contaBox:hover {
    box-shadow: 1px 5px 17px #1c0a19;

    z-index: 10;
    transition: .1s all;

}

.divContaHeader,
.contaInfos,
.contaValores {
    height: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.iconLixeira{
    width: 30px;
    filter: invert(1);
    display: none;
}

.contaInfos,
.contaValores {
    display: flex;
    align-items: center;
}

.divContaHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.divContaHeader>div>span {
    text-transform: uppercase;
    font-size: 12px;
}

.divContaHeader>div>p {
    font-size: 2.5rem;
}

input[type="checkbox"] {
    appearance: none;
    /* remove estilo padrão */
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 30px;
    height: 30px;
    margin-top: 5px;
    border: 2px solid #f3f0f0;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

/* Estilo quando marcado */
input[type="checkbox"]:checked {
    background-color: #ffffff;
    border-color: #ffffff;
}

/* Criar um "check" com pseudo-elemento */
input[type="checkbox"]:checked::after {
    content: "✔";
    color: #00072d;
    font-size: 20px;
    position: absolute;
    left: 4px;
    top: -1px;
}

.contaBox h2 {
    font-size: 1.2rem;
    text-transform: capitalize;
}

.contaBox>.valorConta {
    font-size: .8rem;

}
/* ESTILIZAÇÃO DOS CARDS FIM */


@media screen and (max-width: 768px) {
    .boxCriacao{
        width: 98%;
    }
    .divNewCard{
        width: 90%;
    }
    .containerCards{
        width: 100%;

    }
    .contaBox{
        width: 190px;
        height: 260px;
    }
}